doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ../../public/css/email.css
    body
        h2 Confirma tu cuenta
        p Hola, Has solicitado crear una cuenta, haz click en el siguient enlace para confirmar.
        a(href=`${confirmarUrl}`) Confirmar cuenta
        p Si no puedes acceder a este enlace visita #{confirmarUrl}